:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-gray: hsl(234, 29%, 20%);
    --charcoal-gray: hsl(235, 18%, 26%);
    --real-gray: hsl(231, 7%, 60%);
    --real-white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}


